<%- include("layout_H",{ title : "DASHBOARD" }) %> 

<!-- Header Part -->
<%- include("header",{ title : "dashboard" }) %>

<!-- Dashboard Part -->
<link rel="stylesheet" href="stylesheets/dashboard/dash-content.css">
<div id="dash-content">
    <div id="dash-content-head">
        <div id="dash-content-title"> Hello <%= name %>... </div>
        <div id="dash-content-new" onclick="newNote()" > New note + </div>
    </div>
    <div id="block">
        <% for( let i=0; i<notes.length ; i++){ %>
            <%- include("dashboard-block-item" , notes[i] ) %>     
        <% } %> 
    </div>
</div>

<!-- Notes Part -->
<link rel="stylesheet" href="stylesheets/note/note.css">
<div id="note">
    <div id="note-head">
        <div id="note-back" onclick="redirect('dashboard')">&#8592;</div>
        <div id="note-title">
            <div id="note-title-1"> Heading</div>
            <div id="note-title-2"> Time   </div>
        </div>
        <div id="edit" onclick="edit()">EDIT</div>
    </div>
    <div id="note-content">
        <div id="note-content-value"> This is the content. </div>
    </div>
</div>

<!-- Footer Part -->
<%- include("footer.ejs") %> 

<!-- Scripts -->
<script src="javascripts/redirect.js"></script>
<script src="javascripts/dashboard.js"></script>
<script src="javascripts/note.js"></script>

<%- include("layout_F") %> 