<%- include("layout_H", { title : "LOG IN" }) %> 

<!-- Header Part -->
<%- include("header"  , { title : "log-in" }) %>

<!-- Form Part -->
<link rel="stylesheet" href="stylesheets/log-in/form.css">
<!-- <div id="form">
    <div id="form-1">
        <div   id="form-head">Log In</div>
        <input id="form-username" type="text" />
        <input id="form-password" type="password" />
        <input id="form-btn" type="button" value="Log In" onclick="validation('log-in')" />
        < include('google-sign-in') >
        <div   id="form-hr" ></div>
        <div   id="form-1-6"> Alread have an account ?</div>
        <input id="form-btn"type="button" value="Sign Up" onclick="redirect('sign-up')" />
    </div>
</div> -->

<div id="back-form">
    <div id="result"> Write your details below: </div>
    <div id="form">
        <div class="txt-input" id="email" onclick="remove(this)" >  
            <div class="txt-label"> Email Address </div>
            <div id="email-txt" class="txt" onblur="addIfNotEmpyt(this)"></div>
        </div>
        <!-- <div class="txt-input" id="name" onclick="remove(this)">
            <div class="txt-label"> Name </div>
            <div id="name-txt" class="txt" onblur="addIfNotEmpyt(this)"></div>
        </div> -->
        <div class="txt-input" id="password" onclick="remove(this)">
            <div class="txt-label"> Password </div>
            <div id="password-txt" class="txt" onblur="addIfNotEmpyt(this)" onchange="hidePassword()"></div>
        </div>
        <div class="button" onclick="validationLogIn()"> Log In </div>
        <%- include('google-sign-in') %> 
        <div   id="form-hr" ></div>
        <!-- <div id="password-forgot" > forgot password </div> -->
        <div   id="form-1-6"> New here ?</div>
        <div class="button" onclick="redirect('sign-up')"> Sign Up </div>
    </div>
</div>

<!-- Footer Part -->
<%- include("footer.ejs") %> 

<!-- Scripts -->
<script src="javascripts/redirect.js"></script>
<script src="javascripts/form.js"></script>

<%- include("layout_F") %> 